/* KT Flux 100 */
@font-face { font-family: 'KT Flux 100'; src: url('./KT-Flux-2_100-UL.woff2') format('woff2'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 100'; src: url('./KT-Flux-2_100-L.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 100'; src: url('./KT-Flux-2_100-R.woff2') format('woff2'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 100'; src: url('./KT-Flux-2_100-M.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 100'; src: url('./KT-Flux-2_100-SB.woff2') format('woff2'); font-weight: 600; font-style: normal; font-display: swap; }

/* KT Flux 200 */
@font-face { font-family: 'KT Flux 200'; src: url('./KT-Flux-2_200-UL.woff2') format('woff2'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 200'; src: url('./KT-Flux-2_200-L.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 200'; src: url('./KT-Flux-2_200-R.woff2') format('woff2'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 200'; src: url('./KT-Flux-2_200-M.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 200'; src: url('./KT-Flux-2_200-SB.woff2') format('woff2'); font-weight: 600; font-style: normal; font-display: swap; }

/* KT Flux 300 */
@font-face { font-family: 'KT Flux 300'; src: url('./KT-Flux-2_300-UL.woff2') format('woff2'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 300'; src: url('./KT-Flux-2_300-L.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 300'; src: url('./KT-Flux-2_300-R.woff2') format('woff2'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 300'; src: url('./KT-Flux-2_300-M.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 300'; src: url('./KT-Flux-2_300-SB.woff2') format('woff2'); font-weight: 600; font-style: normal; font-display: swap; }

/* KT Flux 400 */
@font-face { font-family: 'KT Flux 400'; src: url('./KT-Flux-2_400-UL.woff2') format('woff2'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 400'; src: url('./KT-Flux-2_400-L.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 400'; src: url('./KT-Flux-2_400-R.woff2') format('woff2'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 400'; src: url('./KT-Flux-2_400-M.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 400'; src: url('./KT-Flux-2_400-SB.woff2') format('woff2'); font-weight: 600; font-style: normal; font-display: swap; }

/* KT Flux 500 */
@font-face { font-family: 'KT Flux 500'; src: url('./KT-Flux-2_500-UL.woff2') format('woff2'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 500'; src: url('./KT-Flux-2_500-L.woff2') format('woff2'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 500'; src: url('./KT-Flux-2_500-R.woff2') format('woff2'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 500'; src: url('./KT-Flux-2_500-M.woff2') format('woff2'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'KT Flux 500'; src: url('./KT-Flux-2_500-SB.woff2') format('woff2'); font-weight: 600; font-style: normal; font-display: swap; } 